<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Page 1 with Handlebars</title>
  </head>

  <body>
    {{> navigationHeader}}
    <h2>LABAS ROKAI</h2>
    <h1>{{title}}</h1>
    <p>Node says: {{prop1}}</p>

    <p>{{eGolfInfo}}</p>

    {{> myFooter}}
  </body>
</html>
