<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Page 2 with Handlebars</title>
  </head>

  <body>
    {{> navigationHeader}}
    <h1>{{title}}</h1>
    <p>Node says: {{prop1}}</p>
    {{> myFooter}}
  </body>
</html>
