.page-footer {
    background-color: #4527a0;
    margin-top:-35px;
}
#card-placement{
    margin-top:-20px;
}

.body {
    background-color: #f1eeff;
}

.carImg > div img {
    position: auto;
    bottom: 300px;
}

.forma {
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
    background-color: rgb(255, 255, 255);
    margin-bottom:  10px;
    padding-bottom: 20px;
}
.testuks {
    height: 30px;
}

.inputelis{
    padding-left: 30px;
}
.formos-bg {
    border-radius: 5px;
}

.formu-forma {
    background-color: rgba(33, 33, 33, 0.16);
    border-radius: 5px;
    padding-top: 10px;
}

.row {
    margin-bottom: 10px;
}

.inputs{
    height: 2rem!important;
    border-bottom: 2px solid #9e9e9e!important;;
}


body {
    background-color: #f1eeff;
}


.input-field.suffix i {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    transition: color .2s;
    top: 0px;
    right: 0px;
}

.whut {
    height: 40px;
}

.headeris-centras {
    margin-top: 10px;
}

.foniukas {
    background: rgba(255, 255, 255, 0.83);
}
.rozine {
    bockground: pink;
}

.formu-fonas {
    background: #f1eeff;
    padding-top: 10px;
}

.headeris-kaire {
    background: rgba(96, 125, 139, 0.2);
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    margin-top: 100px;
}

.remas {
    position: fixed;
    bottom: 100px;
    border-radius: 100px;
}

.parallax-container {
    height: 540px;
    width: auto;
    padding-top: 10px;
}

.rokas {
    background: rgba(96, 125, 139, .5);
    padding: 40px;
    border-radius: 10px;
    text-align: left;
}

.mygtas {
    border-radius: 8px;
}

.mazas-sriftas {
    font-size: small;
}

.vidutinis-sriftas {
    font-size: medium;
}

/* label color */
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #4527a0;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #4527a0;
    box-shadow: 0 1px 0 0 #4527a0;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #4527a0;

.input-field.suffix i.active {
    color: #26a69a;
}

.input-field.suffix input,
.input-field.suffix textarea {
    margin-right: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
}

.input-field.suffix textarea {
    padding-top: .8rem;
}

.input-field.suffix label {
    margin-right: 3rem;
}

@media only screen and (max-width: 992px) {
    .input-field.suffix input {
        width: 86%;
        width: calc(100% - 3rem);
    }
}

@media only screen and (max-width: 600px) {
    .input-field.suffix input {
        width: 80%;
        width: calc(100% - 3rem);
    }
}
